body {
  background: #FFF;
  color: #444;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100ch;
  font-size: 1em;
}

header {
  border-bottom: 1px solid #aaa;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  nav {
    flex-grow: 1;
    text-align: right;

    li {
      display: inline-block;
      list-style-type: none;
      padding-left: 1em;

      a {
        color: inherit;
        border: none;
      }

      a:hover {
        font-weight: bold;
      }
    }
  }
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #0c65d7;
  text-decoration: none;
  border-bottom: 1px solid #0c65d7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

pre {
  overflow-x: auto;
}

code, pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.95em;
}

code {
  background: #eee;
}

p, li {
  code {
    background: transparent;
    color: #a524cd;
  }
}

.chroma {
  padding: 1.5em;
  border: solid #e8e8e8;
  border-width: 0 0 2px 0;
  line-height: 1.6;
}

h1 + time {
  margin-top: -1.3em;
  display: block;
  font-size: 0.95em;
  text-transform: uppercase;
  color: #666;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: -0.3em;
}

blockquote {
  padding: 0.5em;
  margin: 0;

  p {
    margin: 0;
  }

  &.success {
    background: #e6f0df;
  }

  &.danger {
    background: #ffdcdc;
  }

  &.note {
    background: #dadaff;
  }
}

main {
  h1 {
    font-size: 2.5em;
  }

  p, li {
    max-width: 75ch;
  }
}

h2 {
  margin-top: 2em;
}


